In [7]:
import numpy as np
import pandas as pd
def iv(df, feature, target, minimum, maximum, step):
    lst = []
    i = minimum

    while i < maximum:
        lst.append([feature,
                    i,
                    df[((df[feature]).astype('float') >= i) & ((df[feature]).astype('float') < i + step)].count()[feature],
                    df[((df[feature]).astype('float') >= i) & ((df[feature]).astype('float') < i + step) & ((df[target]) == 0)].count()[feature],
                    df[((df[feature]).astype('float') >= i) & ((df[target]) == 1) & ((df[feature]).astype('float') < i + step)].count()[feature]])
        i = i + step
    df[feature] = df[feature].fillna("NULL")
    lst.append([feature,
                    "NULL",
                    df[((df[feature]) == "NULL")].count()[feature],
                    df[((df[feature]) == "NULL") & ((df[target]) == 0)].count()[feature],
                    df[((df[feature]) == "NULL") & ((df[target]) == 1)].count()[feature]])
    d_yoj = pd.DataFrame(lst, columns=['Variable', 'Value', 'All', 'Good', 'Bad'])
    d_yoj['Share'] = d_yoj['All'] / d_yoj['All'].sum()
    d_yoj['Bad Rate'] = d_yoj['Bad'] / d_yoj['All']
    d_yoj['Distribution Good'] = (d_yoj['All'] - d_yoj['Bad']) / (d_yoj['All'].sum() - d_yoj['Bad'].sum())
    d_yoj['Distribution Bad'] = d_yoj['Bad'] / d_yoj['Bad'].sum()
    d_yoj['WoE'] = np.log(d_yoj['Distribution Good'] / d_yoj['Distribution Bad'])

    d_yoj = d_yoj.replace({'WoE': {np.inf: 0, -np.inf: 0}})

    d_yoj['IV'] = d_yoj['WoE'] * (d_yoj['Distribution Good'] - d_yoj['Distribution Bad'])

    d_yoj = d_yoj.sort_values(by=['Variable', 'Value'], ascending=[True, True])
    d_yoj.index = range(len(d_yoj.index))


    iv_yoj= d_yoj['IV'].sum()

    return iv_yoj, d_yoj

In [16]:
d = pd.read_csv("hmeq.csv")

In [17]:
iv_mort, d_mort = iv(d, "MORTDUE", "BAD", d["MORTDUE"].min(), d["MORTDUE"].max(), 20000)

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in log

In [18]:
iv_mort

0.07721976895021314

In [19]:
d_mort

,Variable,Value,All,Good,Bad,Share,Bad Rate,Distribution Good,Distribution Bad,WoE,IV
0,MORTDUE,2063,385,281,104,0.064597,0.270130,0.058898,0.087468,-0.395480,0.011299
1,MORTDUE,22063,733,540,193,0.122987,0.263302,0.113184,0.162321,-0.360564,0.017717
2,MORTDUE,42063,1371,1098,273,0.230034,0.199125,0.230140,0.229605,0.002331,0.000001
3,MORTDUE,62063,1207,991,216,0.202517,0.178956,0.207713,0.181665,0.133993,0.003490
4,MORTDUE,82063,740,628,112,0.124161,0.151351,0.131629,0.094197,0.334598,0.012525
5,MORTDUE,102063,348,279,69,0.058389,0.198276,0.058478,0.058032,0.007662,0.000003
6,MORTDUE,122063,282,247,35,0.047315,0.124113,0.051771,0.029437,0.564597,0.012610
7,MORTDUE,142063,152,121,31,0.025503,0.203947,0.025362,0.026072,-0.027640,0.000020
8,MORTDUE,162063,55,35,20,0.009228,0.363636,0.007336,0.016821,-0.829828,0.007871
9,MORTDUE,182063,66,57,9,0.011074,0.136364,0.011947,0.007569,0.456383,0.001998
10,MORTDUE,202063,30,22,8,0.005034,0.266667,0.004611,0.006728,-0.377842,0.000800
11,MORTDUE,222063,55,50,5,0.009228,0.090909,0.010480,0.004205,0.913142,0.005730
12,MORTDUE,242063,3,1,2,0.000503,0.666667,0.000210,0.001682,-2.082590,0.003067
13,MORTDUE,262063,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
14,MORTDUE,282063,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
15,MORTDUE,302063,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
16,MORTDUE,322063,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
17,MORTDUE,342063,1,1,0,0.000168,0.000000,0.000210,0.000000,0.000000,0.000000
18,MORTDUE,362063,8,8,0,0.001342,0.000000,0.001677,0.000000,0.000000,0.000000
19,MORTDUE,382063,4,0,4,0.000671,1.000000,0.000000,0.003364,0.000000,-0.000000
20,MORTDUE,NULL,518,412,106,0.086913,0.204633,0.086355,0.089151,-0.031859,0.000089

In [20]:
iv_clno, d_clno = iv(d, "CLNO", "BAD", d["CLNO"].min(), d["CLNO"].max(), 5)

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in log

In [21]:
iv_clno

0.08197862798796846

In [22]:
d_clno

,Variable,Value,All,Good,Bad,Share,Bad Rate,Distribution Good,Distribution Bad,WoE,IV
0,CLNO,0,159,90,69,0.026678,0.433962,0.018864,0.058032,-1.123740,4.401464e-02
1,CLNO,5,402,293,109,0.067450,0.271144,0.061413,0.091674,-0.400619,1.212311e-02
2,CLNO,10,873,715,158,0.146477,0.180985,0.149864,0.132885,0.120244,2.041624e-03
3,CLNO,15,1275,1067,208,0.213926,0.163137,0.223643,0.174937,0.245625,1.196339e-02
4,CLNO,20,1201,989,212,0.201510,0.176520,0.207294,0.178301,0.150665,4.368219e-03
5,CLNO,25,779,634,145,0.130705,0.186136,0.132886,0.121951,0.085872,9.390065e-04
6,CLNO,30,487,390,97,0.081711,0.199179,0.081744,0.081581,0.001992,3.241890e-07
7,CLNO,35,257,197,60,0.043121,0.233463,0.041291,0.050463,-0.200584,1.839645e-03
8,CLNO,40,114,85,29,0.019128,0.254386,0.017816,0.024390,-0.314088,2.064899e-03
9,CLNO,45,102,79,23,0.017114,0.225490,0.016558,0.019344,-0.155490,4.331341e-04
10,CLNO,50,54,44,10,0.009060,0.185185,0.009222,0.008410,0.092161,7.483089e-05
11,CLNO,55,24,19,5,0.004027,0.208333,0.003982,0.004205,-0.054442,1.213087e-05
12,CLNO,60,6,0,6,0.001007,1.000000,0.000000,0.005046,0.000000,-0.000000e+00
13,CLNO,65,3,0,3,0.000503,1.000000,0.000000,0.002523,0.000000,-0.000000e+00
14,CLNO,70,2,0,2,0.000336,1.000000,0.000000,0.001682,0.000000,-0.000000e+00
15,CLNO,NULL,222,169,53,0.037248,0.238739,0.035422,0.044575,-0.229837,2.103677e-03

In [23]:
iv_ninq, d_ninq = iv(d, "NINQ", "BAD", d["NINQ"].min(), d["NINQ"].max(), 1)

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in log

In [24]:
iv_ninq

0.17222973452562698

In [25]:
d_ninq

,Variable,Value,All,Good,Bad,Share,Bad Rate,Distribution Good,Distribution Bad,WoE,IV
0,NINQ,0,2531,2135,396,0.424736,0.156460,0.447495,0.333333,0.294523,0.033623
1,NINQ,1,1339,1085,254,0.224702,0.189694,0.227416,0.213805,0.061716,0.000840
2,NINQ,2,780,599,181,0.130894,0.232051,0.125550,0.152357,-0.193520,0.005188
3,NINQ,3,392,285,107,0.065783,0.272959,0.059736,0.090067,-0.410624,0.012455
4,NINQ,4,156,95,61,0.026179,0.391026,0.019912,0.051347,-0.947282,0.029778
5,NINQ,5,75,39,36,0.012586,0.480000,0.008174,0.030303,-1.310242,0.028994
6,NINQ,6,56,27,29,0.009398,0.517857,0.005659,0.024411,-1.461744,0.027410
7,NINQ,7,44,29,15,0.007384,0.340909,0.006078,0.012626,-0.731039,0.004787
8,NINQ,8,22,11,11,0.003692,0.500000,0.002306,0.009259,-1.390285,0.009668
9,NINQ,9,11,5,6,0.001846,0.545455,0.001048,0.005051,-1.572606,0.006294
10,NINQ,10,28,19,9,0.004699,0.321429,0.003982,0.007576,-0.643070,0.002311
11,NINQ,11,10,7,3,0.001678,0.300000,0.001467,0.002525,-0.542987,0.000575
12,NINQ,12,2,0,2,0.000336,1.000000,0.000000,0.001684,0.000000,-0.000000
13,NINQ,13,2,0,2,0.000336,1.000000,0.000000,0.001684,0.000000,-0.000000
14,NINQ,14,1,0,1,0.000168,1.000000,0.000000,0.000842,0.000000,-0.000000
15,NINQ,15,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
16,NINQ,16,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
17,NINQ,NULL,510,435,75,0.085585,0.147059,0.091176,0.063131,0.367573,0.010308

In [26]:
iv_value, d_value = iv(d, "VALUE", "BAD", d["VALUE"].min(), d["VALUE"].max(), 43000)

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in log

In [27]:
iv_value

0.44956887698919984

In [28]:
d_value

,Variable,Value,All,Good,Bad,Share,Bad Rate,Distribution Good,Distribution Bad,WoE,IV
0,VALUE,8000,677,470,207,0.113591,0.305761,0.098512,0.174096,-0.569429,0.043040
1,VALUE,51000,2526,2066,460,0.423826,0.182106,0.433033,0.386880,0.112700,0.005201
2,VALUE,94000,1555,1322,233,0.260906,0.149839,0.277091,0.195963,0.346419,0.028104
3,VALUE,137000,569,470,99,0.095470,0.173989,0.098512,0.083263,0.168170,0.002564
4,VALUE,180000,317,278,39,0.053188,0.123028,0.058269,0.032801,0.574616,0.014634
5,VALUE,223000,96,77,19,0.016107,0.197917,0.016139,0.015980,0.009923,0.000002
6,VALUE,266000,88,72,16,0.014765,0.181818,0.015091,0.013457,0.114634,0.000187
7,VALUE,309000,2,0,2,0.000336,1.000000,0.000000,0.001682,0.000000,-0.000000
8,VALUE,352000,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
9,VALUE,395000,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
10,VALUE,438000,9,9,0,0.001510,0.000000,0.001886,0.000000,0.000000,0.000000
11,VALUE,481000,3,0,3,0.000503,1.000000,0.000000,0.002523,0.000000,-0.000000
12,VALUE,524000,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
13,VALUE,567000,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
14,VALUE,610000,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
15,VALUE,653000,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
16,VALUE,696000,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
17,VALUE,739000,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
18,VALUE,782000,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
19,VALUE,825000,4,0,4,0.000671,1.000000,0.000000,0.003364,0.000000,-0.000000
20,VALUE,NULL,112,7,105,0.018792,0.937500,0.001467,0.088310,-4.097494,0.355836

In [29]:
iv_delinq, d_delinq = iv(d, "DELINQ", "BAD", d["DELINQ"].min(), d["DELINQ"].max(), 1)

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in log

In [30]:
iv_delinq

0.4885257357648145

In [31]:
d_delinq

,Variable,Value,All,Good,Bad,Share,Bad Rate,Distribution Good,Distribution Bad,WoE,IV
0,DELINQ,0,4179,3596,583,0.701292,0.139507,0.753720,0.490741,0.429106,0.112846
1,DELINQ,1,654,432,222,0.109750,0.339450,0.090547,0.186869,-0.724536,0.069789
2,DELINQ,2,250,138,112,0.041953,0.448000,0.028925,0.094276,-1.181530,0.077215
3,DELINQ,3,129,58,71,0.021648,0.550388,0.012157,0.059764,-1.592522,0.075816
4,DELINQ,4,78,32,46,0.013089,0.589744,0.006707,0.038721,-1.753190,0.056125
5,DELINQ,5,38,7,31,0.006377,0.815789,0.001467,0.026094,-2.878362,0.070886
6,DELINQ,6,27,0,27,0.004531,1.000000,0.000000,0.022727,0.000000,-0.000000
7,DELINQ,7,13,0,13,0.002182,1.000000,0.000000,0.010943,0.000000,-0.000000
8,DELINQ,8,5,0,5,0.000839,1.000000,0.000000,0.004209,0.000000,-0.000000
9,DELINQ,9,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
10,DELINQ,10,2,0,2,0.000336,1.000000,0.000000,0.001684,0.000000,-0.000000
11,DELINQ,11,2,0,2,0.000336,1.000000,0.000000,0.001684,0.000000,-0.000000
12,DELINQ,12,1,0,1,0.000168,1.000000,0.000000,0.000842,0.000000,-0.000000
13,DELINQ,13,1,0,1,0.000168,1.000000,0.000000,0.000842,0.000000,-0.000000
14,DELINQ,14,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
15,DELINQ,NULL,580,508,72,0.097332,0.124138,0.106477,0.060606,0.563531,0.025849

In [36]:
d1 = pd.read_csv("hmeq.csv")

0       0.0
1       0.0
2       0.0
3       NaN
4       0.0
5       0.0
6       3.0
7       0.0
8       0.0
9       0.0
10      NaN
11      0.0
12      0.0
13      0.0
14      0.0
15      0.0
16      2.0
17      NaN
18      0.0
19      0.0
20      0.0
21      1.0
22      0.0
23      NaN
24      0.0
25      0.0
26      0.0
27      0.0
28      1.0
29      0.0
       ...
5930    0.0
5931    0.0
5932    0.0
5933    1.0
5934    0.0
5935    0.0
5936    0.0
5937    0.0
5938    0.0
5939    0.0
5940    0.0
5941    0.0
5942    0.0
5943    0.0
5944    0.0
5945    0.0
5946    0.0
5947    0.0
5948    0.0
5949    0.0
5950    0.0
5951    0.0
5952    0.0
5953    0.0
5954    0.0
5955    0.0
5956    0.0
5957    0.0
5958    0.0
5959    0.0
Name: DEROG, Length: 5960, dtype: float64

In [37]:
iv_debtinc, d_debtinc = iv(d, "DEBTINC", "BAD", d["DEBTINC"].min(), d["DEBTINC"].max(), 10)

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in log

In [38]:
iv_debtinc

1.87934101236577

In [39]:
d_debtinc

,Variable,Value,All,Good,Bad,Share,Bad Rate,Distribution Good,Distribution Bad,WoE,IV
0,DEBTINC,0.524499,32,20,12,0.005369,0.375000,0.004192,0.010093,-0.878618,0.005184
1,DEBTINC,10.5245,206,196,10,0.034564,0.048544,0.041082,0.008410,1.586086,0.051819
2,DEBTINC,20.5245,1210,1155,55,0.203020,0.045455,0.242088,0.046257,1.655079,0.324115
3,DEBTINC,30.5245,2523,2355,168,0.423322,0.066587,0.493607,0.141295,1.250889,0.440703
4,DEBTINC,40.5245,680,564,116,0.114094,0.170588,0.118214,0.097561,0.192021,0.003966
5,DEBTINC,50.5245,16,0,16,0.002685,1.000000,0.000000,0.013457,0.000000,-0.000000
6,DEBTINC,60.5245,13,0,13,0.002181,1.000000,0.000000,0.010934,0.000000,-0.000000
7,DEBTINC,70.5245,5,0,5,0.000839,1.000000,0.000000,0.004205,0.000000,-0.000000
8,DEBTINC,80.5245,2,0,2,0.000336,1.000000,0.000000,0.001682,0.000000,-0.000000
9,DEBTINC,90.5245,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
10,DEBTINC,100.524,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
11,DEBTINC,110.524,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
12,DEBTINC,120.524,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
13,DEBTINC,130.524,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
14,DEBTINC,140.524,2,0,2,0.000336,1.000000,0.000000,0.001682,0.000000,-0.000000
15,DEBTINC,150.524,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
16,DEBTINC,160.524,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
17,DEBTINC,170.524,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
18,DEBTINC,180.524,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
19,DEBTINC,190.524,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
20,DEBTINC,200.524,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
21,DEBTINC,NULL,1267,481,786,0.212584,0.620363,0.100817,0.661060,-1.880533,1.053554

In [40]:
iv_clage, d_clage = iv(d, "CLAGE", "BAD", d["CLAGE"].min(), d["CLAGE"].max(), 55)

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in log

In [41]:
iv_clage

0.23565985776546736

In [42]:
d_clage

,Variable,Value,All,Good,Bad,Share,Bad Rate,Distribution Good,Distribution Bad,WoE,IV
0,CLAGE,0,146,77,69,0.024497,0.472603,0.016139,0.058032,-1.279744,0.053612
1,CLAGE,55,1104,802,302,0.185235,0.273551,0.168099,0.253995,-0.412762,0.035455
2,CLAGE,110,1385,1050,335,0.232383,0.241877,0.220080,0.281749,-0.247028,0.015234
3,CLAGE,165,1401,1175,226,0.235067,0.161313,0.246280,0.190076,0.259045,0.014559
4,CLAGE,220,823,724,99,0.138087,0.120292,0.151750,0.083263,0.600228,0.041108
5,CLAGE,275,560,502,58,0.093960,0.103571,0.105219,0.048780,0.768714,0.043385
6,CLAGE,330,166,148,18,0.027852,0.108434,0.031021,0.015139,0.717397,0.011394
7,CLAGE,385,37,36,1,0.006208,0.027027,0.007546,0.000841,2.194076,0.014710
8,CLAGE,440,10,9,1,0.001678,0.100000,0.001886,0.000841,0.807781,0.000844
9,CLAGE,495,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
10,CLAGE,550,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
11,CLAGE,605,18,18,0,0.003020,0.000000,0.003773,0.000000,0.000000,0.000000
12,CLAGE,660,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
13,CLAGE,715,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
14,CLAGE,770,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
15,CLAGE,825,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
16,CLAGE,880,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
17,CLAGE,935,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
18,CLAGE,990,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
19,CLAGE,1045,0,0,0,0.000000,NaN,0.000000,0.000000,NaN,NaN
20,CLAGE,1100,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
21,CLAGE,1155,1,0,1,0.000168,1.000000,0.000000,0.000841,0.000000,-0.000000
22,CLAGE,NULL,308,230,78,0.051678,0.253247,0.048208,0.065601,-0.308073,0.005358

In [43]:
iv_yoj, d_yoj = iv(d, "YOJ", "BAD", d["YOJ"].min(), d["YOJ"].max(), 10)

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in log

In [44]:
iv_yoj

0.051870506679009706

In [45]:
d_yoj

,Variable,Value,All,Good,Bad,Share,Bad Rate,Distribution Good,Distribution Bad,WoE,IV
0,YOJ,0,3378,2645,733,0.566779,0.216992,0.554391,0.616484,-0.106163,0.006592
1,YOJ,10,1428,1125,303,0.239597,0.212185,0.235800,0.254836,-0.077638,0.001478
2,YOJ,20,579,504,75,0.097148,0.129534,0.105638,0.063078,0.515645,0.021946
3,YOJ,30,57,47,10,0.009564,0.175439,0.009851,0.008410,0.158119,0.000228
4,YOJ,40,3,0,3,0.000503,1.000000,0.000000,0.002523,0.000000,-0.000000
5,YOJ,NULL,515,450,65,0.086409,0.126214,0.094320,0.054668,0.545417,0.021627