In [22]:
import pandas as pd
import os

data = pd.read_csv("hmeq.csv")

print(data)

      BAD   LOAN   MORTDUE     VALUE   REASON      JOB   YOJ  DEROG  DELINQ  \
0       1   1100   25860.0   39025.0  HomeImp    Other  10.5    0.0     0.0
1       1   1300   70053.0   68400.0  HomeImp    Other   7.0    0.0     2.0
2       1   1500   13500.0   16700.0  HomeImp    Other   4.0    0.0     0.0
3       1   1500       NaN       NaN      NaN      NaN   NaN    NaN     NaN
4       0   1700   97800.0  112000.0  HomeImp   Office   3.0    0.0     0.0
5       1   1700   30548.0   40320.0  HomeImp    Other   9.0    0.0     0.0
6       1   1800   48649.0   57037.0  HomeImp    Other   5.0    3.0     2.0
7       1   1800   28502.0   43034.0  HomeImp    Other  11.0    0.0     0.0
8       1   2000   32700.0   46740.0  HomeImp    Other   3.0    0.0     2.0
9       1   2000       NaN   62250.0  HomeImp    Sales  16.0    0.0     0.0
10      1   2000   22608.0       NaN      NaN      NaN  18.0    NaN     NaN
11      1   2000   20627.0   29800.0  HomeImp   Office  11.0    0.0     1.0
12      1   2000   45000.0   55000.0  HomeImp    Other   3.0    0.0     0.0
13      0   2000   64536.0   87400.0      NaN      Mgr   2.5    0.0     0.0
14      1   2100   71000.0   83850.0  HomeImp    Other   8.0    0.0     1.0
15      1   2200   24280.0   34687.0  HomeImp    Other   NaN    0.0     1.0
16      1   2200   90957.0  102600.0  HomeImp      Mgr   7.0    2.0     6.0
17      1   2200   23030.0       NaN      NaN      NaN  19.0    NaN     NaN
18      1   2300   28192.0   40150.0  HomeImp    Other   4.5    0.0     0.0
19      0   2300  102370.0  120953.0  HomeImp   Office   2.0    0.0     0.0
20      1   2300   37626.0   46200.0  HomeImp    Other   3.0    0.0     1.0
21      1   2400   50000.0   73395.0  HomeImp  ProfExe   5.0    1.0     0.0
22      1   2400   28000.0   40800.0  HomeImp      Mgr  12.0    0.0     0.0
23      1   2400   18000.0       NaN  HomeImp      Mgr  22.0    NaN     2.0
24      1   2400       NaN   17180.0  HomeImp    Other   NaN    0.0     0.0
25      1   2400   34863.0   47471.0  HomeImp      Mgr  12.0    0.0     0.0
26      0   2400   98449.0  117195.0  HomeImp   Office   4.0    0.0     0.0
27      1   2500   15000.0   20200.0  HomeImp      NaN  18.0    0.0     0.0
28      1   2500   25116.0   36350.0  HomeImp    Other  10.0    1.0     2.0
29      0   2500    7229.0   44516.0  HomeImp     Self   NaN    0.0     0.0
...   ...    ...       ...       ...      ...      ...   ...    ...     ...
5930    1  72300       NaN   85000.0  DebtCon    Other   1.0    0.0     0.0
5931    1  75400       NaN   89609.0  DebtCon    Other   1.0    0.0     0.0
5932    1  76500   38206.0   90000.0  DebtCon    Other  12.0    0.0     0.0
5933    1  77200   83962.0  215000.0  HomeImp     Self   8.0    1.0     2.0
5934    1  77400   87651.0  224630.0  HomeImp     Self   9.0    0.0     2.0
5935    0  78400   13900.0  102910.0  HomeImp      NaN  27.0    0.0     1.0
5936    0  78700   22762.0  102997.0  HomeImp      NaN  25.0    0.0     0.0
5937    0  79100   23553.0  103807.0  HomeImp      NaN  25.0    0.0     1.0
5938    0  79200   21694.0  103143.0  HomeImp      NaN  26.0    0.0     1.0
5939    0  79200   22940.0  110114.0  HomeImp      NaN  28.0    0.0     1.0
5940    0  79900   18363.0  109675.0  HomeImp      NaN  27.0    0.0     1.0
5941    0  80300   20370.0  109127.0  HomeImp      NaN  27.0    0.0     1.0
5942    0  80600   16337.0  109370.0  HomeImp      NaN  28.0    0.0     0.0
5943    0  81200   18834.0  108355.0  HomeImp      NaN  28.0    0.0     0.0
5944    0  81400   22344.0  108280.0  HomeImp      NaN  25.0    0.0     0.0
5945    0  81400   21041.0  111304.0  HomeImp      NaN  26.0    0.0     0.0
5946    0  82200   16097.0  111287.0  HomeImp      NaN  26.0    0.0     0.0
5947    0  82200   23197.0  110481.0  HomeImp      NaN  26.0    0.0     1.0
5948    0  86000   47355.0   85000.0  DebtCon    Other  15.0    0.0     0.0
5949    0  87000   48980.0   89764.0  DebtCon    Other  14.0    0.0     0.0
5950    0  87500   55938.0   86794.0  DebtCon    Other  15.0    0.0     0.0
5951    0  88300   54004.0   94838.0  DebtCon    Other  16.0    0.0     0.0
5952    0  88500   50240.0   94687.0  DebtCon    Other  16.0    0.0     0.0
5953    0  88800   53307.0   94058.0  DebtCon    Other  16.0    0.0     0.0
5954    0  88900   48919.0   93371.0  DebtCon    Other  15.0    0.0     1.0
5955    0  88900   57264.0   90185.0  DebtCon    Other  16.0    0.0     0.0
5956    0  89000   54576.0   92937.0  DebtCon    Other  16.0    0.0     0.0
5957    0  89200   54045.0   92924.0  DebtCon    Other  15.0    0.0     0.0
5958    0  89800   50370.0   91861.0  DebtCon    Other  14.0    0.0     0.0
5959    0  89900   48811.0   88934.0  DebtCon    Other  15.0    0.0     0.0

           CLAGE  NINQ  CLNO    DEBTINC
0      94.366667   1.0   9.0        NaN
1     121.833333   0.0  14.0        NaN
2     149.466667   1.0  10.0        NaN
3            NaN   NaN   NaN        NaN
4      93.333333   0.0  14.0        NaN
5     101.466002   1.0   8.0  37.113614
6      77.100000   1.0  17.0        NaN
7      88.766030   0.0   8.0  36.884894
8     216.933333   1.0  12.0        NaN
9     115.800000   0.0  13.0        NaN
10           NaN   NaN   NaN        NaN
11    122.533333   1.0   9.0        NaN
12     86.066667   2.0  25.0        NaN
13    147.133333   0.0  24.0        NaN
14    123.000000   0.0  16.0        NaN
15    300.866667   0.0   8.0        NaN
16    122.900000   1.0  22.0        NaN
17           NaN   NaN   NaN   3.711312
18     54.600000   1.0  16.0        NaN
19     90.992533   0.0  13.0  31.588503
20    122.266667   1.0  14.0        NaN
21           NaN   1.0   0.0        NaN
22     67.200000   2.0  22.0        NaN
23    121.733333   0.0  10.0        NaN
24     14.566667   3.0   4.0        NaN
25     70.491080   1.0  21.0  38.263601
26     93.811775   0.0  13.0  29.681827
27    136.066667   1.0  19.0        NaN
28    276.966667   0.0   9.0        NaN
29    208.000000   0.0  12.0        NaN
...          ...   ...   ...        ...
5930  117.166667   9.0  23.0        NaN
5931  115.763534   9.0  23.0  41.105569
5932  134.900000   0.0  26.0        NaN
5933   71.533132   3.0  14.0        NaN
5934   73.469630   3.0  13.0  40.929793
5935  138.000000   0.0  14.0        NaN
5936  146.632842   0.0  13.0  34.300202
5937  142.193458   0.0  13.0  31.469937
5938  139.938999   0.0  14.0  31.333685
5939  144.616126   0.0  13.0  32.366512
5940  132.766724   0.0  13.0  31.642335
5941  142.174300   0.0  13.0  33.468763
5942  137.439991   0.0  14.0  34.202005
5943  139.136329   0.0  14.0  34.042153
5944  148.114994   0.0  14.0  34.285741
5945  146.322783   0.0  14.0  32.131373
5946  142.119979   0.0  14.0  31.743472
5947  127.767588   0.0  14.0  30.942695
5948  210.966667   0.0  16.0        NaN
5949  209.043117   0.0  16.0  36.088037
5950  223.881040   0.0  16.0  36.753653
5951  193.702051   0.0  15.0  36.262691
5952  214.426206   0.0  16.0  34.751158
5953  218.304978   0.0  15.0  34.242465
5954  205.650159   0.0  15.0  34.818262
5955  221.808718   0.0  16.0  36.112347
5956  208.692070   0.0  15.0  35.859971
5957  212.279697   0.0  15.0  35.556590
5958  213.892709   0.0  16.0  34.340882
5959  219.601002   0.0  16.0  34.571519

[5960 rows x 13 columns]

In [9]:
data.isnull().sum()

BAD           0
LOAN          0
MORTDUE     518
VALUE       112
REASON      252
JOB         279
YOJ         515
DEROG       708
DELINQ      580
CLAGE       308
NINQ        510
CLNO        222
DEBTINC    1267
dtype: int64

In [3]:
data.sum()

BAD        1.189000e+03
LOAN       1.109035e+08
MORTDUE    4.014064e+08
VALUE      5.951863e+08
YOJ        4.858175e+04
DEROG      1.337000e+03
DELINQ     2.418000e+03
CLAGE      1.016039e+06
NINQ       6.464000e+03
CLNO       1.221970e+05
DEBTINC    1.585291e+05
dtype: float64

In [18]:
l = len(data)
# print(l)
c = 0
mort = data['MORTDUE']
for i in range(l):
    if str(mort[i])=="nan":
        c = c + 1
        
print((c/l)*100)

8.691275167785236

In [19]:
data.dropna(inplace = True)
data.isnull().sum()

BAD        0
LOAN       0
MORTDUE    0
VALUE      0
REASON     0
JOB        0
YOJ        0
DEROG      0
DELINQ     0
CLAGE      0
NINQ       0
CLNO       0
DEBTINC    0
dtype: int64

In [21]:
len(data)

3364

In [23]:
3364/len(data)

0.5644295302013422

In [24]:
data['MORTDUE'].isnull().sum()

518

In [25]:
data['MORTDUE'].mean()

73760.817199559

In [28]:
import numpy as np
data1 = data['MORTDUE'].replace(np.NaN, data['MORTDUE'].mean())

In [29]:
data1

0        25860.0000
1        70053.0000
2        13500.0000
3        73760.8172
4        97800.0000
5        30548.0000
6        48649.0000
7        28502.0000
8        32700.0000
9        73760.8172
10       22608.0000
11       20627.0000
12       45000.0000
13       64536.0000
14       71000.0000
15       24280.0000
16       90957.0000
17       23030.0000
18       28192.0000
19      102370.0000
20       37626.0000
21       50000.0000
22       28000.0000
23       18000.0000
24       73760.8172
25       34863.0000
26       98449.0000
27       15000.0000
28       25116.0000
29        7229.0000
           ...
5930     73760.8172
5931     73760.8172
5932     38206.0000
5933     83962.0000
5934     87651.0000
5935     13900.0000
5936     22762.0000
5937     23553.0000
5938     21694.0000
5939     22940.0000
5940     18363.0000
5941     20370.0000
5942     16337.0000
5943     18834.0000
5944     22344.0000
5945     21041.0000
5946     16097.0000
5947     23197.0000
5948     47355.0000
5949     48980.0000
5950     55938.0000
5951     54004.0000
5952     50240.0000
5953     53307.0000
5954     48919.0000
5955     57264.0000
5956     54576.0000
5957     54045.0000
5958     50370.0000
5959     48811.0000
Name: MORTDUE, Length: 5960, dtype: float64

In [38]:
data

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614
6,1,1800,48649.0,57037.0,HomeImp,Other,5.0,3.0,2.0,77.100000,1.0,17.0,NaN
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894
8,1,2000,32700.0,46740.0,HomeImp,Other,3.0,0.0,2.0,216.933333,1.0,12.0,NaN
9,1,2000,NaN,62250.0,HomeImp,Sales,16.0,0.0,0.0,115.800000,0.0,13.0,NaN
10,1,2000,22608.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
11,1,2000,20627.0,29800.0,HomeImp,Office,11.0,0.0,1.0,122.533333,1.0,9.0,NaN
12,1,2000,45000.0,55000.0,HomeImp,Other,3.0,0.0,0.0,86.066667,2.0,25.0,NaN
13,0,2000,64536.0,87400.0,NaN,Mgr,2.5,0.0,0.0,147.133333,0.0,24.0,NaN
14,1,2100,71000.0,83850.0,HomeImp,Other,8.0,0.0,1.0,123.000000,0.0,16.0,NaN
15,1,2200,24280.0,34687.0,HomeImp,Other,NaN,0.0,1.0,300.866667,0.0,8.0,NaN
16,1,2200,90957.0,102600.0,HomeImp,Mgr,7.0,2.0,6.0,122.900000,1.0,22.0,NaN
17,1,2200,23030.0,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,3.711312
18,1,2300,28192.0,40150.0,HomeImp,Other,4.5,0.0,0.0,54.600000,1.0,16.0,NaN
19,0,2300,102370.0,120953.0,HomeImp,Office,2.0,0.0,0.0,90.992533,0.0,13.0,31.588503
20,1,2300,37626.0,46200.0,HomeImp,Other,3.0,0.0,1.0,122.266667,1.0,14.0,NaN
21,1,2400,50000.0,73395.0,HomeImp,ProfExe,5.0,1.0,0.0,NaN,1.0,0.0,NaN
22,1,2400,28000.0,40800.0,HomeImp,Mgr,12.0,0.0,0.0,67.200000,2.0,22.0,NaN
23,1,2400,18000.0,NaN,HomeImp,Mgr,22.0,NaN,2.0,121.733333,0.0,10.0,NaN
24,1,2400,NaN,17180.0,HomeImp,Other,NaN,0.0,0.0,14.566667,3.0,4.0,NaN
25,1,2400,34863.0,47471.0,HomeImp,Mgr,12.0,0.0,0.0,70.491080,1.0,21.0,38.263601
26,0,2400,98449.0,117195.0,HomeImp,Office,4.0,0.0,0.0,93.811775,0.0,13.0,29.681827
27,1,2500,15000.0,20200.0,HomeImp,NaN,18.0,0.0,0.0,136.066667,1.0,19.0,NaN
28,1,2500,25116.0,36350.0,HomeImp,Other,10.0,1.0,2.0,276.966667,0.0,9.0,NaN
29,0,2500,7229.0,44516.0,HomeImp,Self,NaN,0.0,0.0,208.000000,0.0,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,1,72300,NaN,85000.0,DebtCon,Other,1.0,0.0,0.0,117.166667,9.0,23.0,NaN
5931,1,75400,NaN,89609.0,DebtCon,Other,1.0,0.0,0.0,115.763534,9.0,23.0,41.105569
5932,1,76500,38206.0,90000.0,DebtCon,Other,12.0,0.0,0.0,134.900000,0.0,26.0,NaN
5933,1,77200,83962.0,215000.0,HomeImp,Self,8.0,1.0,2.0,71.533132,3.0,14.0,NaN
5934,1,77400,87651.0,224630.0,HomeImp,Self,9.0,0.0,2.0,73.469630,3.0,13.0,40.929793
5935,0,78400,13900.0,102910.0,HomeImp,NaN,27.0,0.0,1.0,138.000000,0.0,14.0,NaN
5936,0,78700,22762.0,102997.0,HomeImp,NaN,25.0,0.0,0.0,146.632842,0.0,13.0,34.300202
5937,0,79100,23553.0,103807.0,HomeImp,NaN,25.0,0.0,1.0,142.193458,0.0,13.0,31.469937
5938,0,79200,21694.0,103143.0,HomeImp,NaN,26.0,0.0,1.0,139.938999,0.0,14.0,31.333685
5939,0,79200,22940.0,110114.0,HomeImp,NaN,28.0,0.0,1.0,144.616126,0.0,13.0,32.366512
5940,0,79900,18363.0,109675.0,HomeImp,NaN,27.0,0.0,1.0,132.766724,0.0,13.0,31.642335
5941,0,80300,20370.0,109127.0,HomeImp,NaN,27.0,0.0,1.0,142.174300,0.0,13.0,33.468763
5942,0,80600,16337.0,109370.0,HomeImp,NaN,28.0,0.0,0.0,137.439991,0.0,14.0,34.202005
5943,0,81200,18834.0,108355.0,HomeImp,NaN,28.0,0.0,0.0,139.136329,0.0,14.0,34.042153
5944,0,81400,22344.0,108280.0,HomeImp,NaN,25.0,0.0,0.0,148.114994,0.0,14.0,34.285741
5945,0,81400,21041.0,111304.0,HomeImp,NaN,26.0,0.0,0.0,146.322783,0.0,14.0,32.131373
5946,0,82200,16097.0,111287.0,HomeImp,NaN,26.0,0.0,0.0,142.119979,0.0,14.0,31.743472
5947,0,82200,23197.0,110481.0,HomeImp,NaN,26.0,0.0,1.0,127.767588,0.0,14.0,30.942695
5948,0,86000,47355.0,85000.0,DebtCon,Other,15.0,0.0,0.0,210.966667,0.0,16.0,NaN
5949,0,87000,48980.0,89764.0,DebtCon,Other,14.0,0.0,0.0,209.043117,0.0,16.0,36.088037
5950,0,87500,55938.0,86794.0,DebtCon,Other,15.0,0.0,0.0,223.881040,0.0,16.0,36.753653
5951,0,88300,54004.0,94838.0,DebtCon,Other,16.0,0.0,0.0,193.702051,0.0,15.0,36.262691
5952,0,88500,50240.0,94687.0,DebtCon,Other,16.0,0.0,0.0,214.426206,0.0,16.0,34.751158
5953,0,88800,53307.0,94058.0,DebtCon,Other,16.0,0.0,0.0,218.304978,0.0,15.0,34.242465
5954,0,88900,48919.0,93371.0,DebtCon,Other,15.0,0.0,1.0,205.650159,0.0,15.0,34.818262
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519

In [223]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
data.loc[data['REASON'] == 'HomeImp', 'REASON'] = 1
data.loc[data['REASON'] == 'DebtCon', 'REASON'] = 0
data.loc[data['JOB'] == 'Other', 'JOB'] = 0
data.loc[data['JOB'] == 'Mgr', 'JOB'] = 1
data.loc[data['JOB'] == 'Office', 'JOB'] = 2
data.loc[data['JOB'] == 'ProfExe', 'JOB'] = 3
data.loc[data['JOB'] == 'Sales', 'JOB'] = 4
data.loc[data['JOB'] == 'Self', 'JOB'] = 5
data_without_null = data.dropna()

# print(data_without_null)

train_data_y = data_without_null.iloc[:,2]
train_data_part_1 = data_without_null.iloc[:,0:2]
train_data_part_2 = data_without_null.iloc[:,3:]
# train_data_part_2
train_data_x = train_data_part_1.join(train_data_part_2)
# train_data_x

linreg.fit(train_data_x,train_data_y)

test_data_part_1 = data.iloc[:,0:2]
test_data_part_2 = data.iloc[:,3:]
test_data_x = test_data_part_1.join(test_data_part_2)
# print(test_data_x['VALUE'].mean())
test_data_x['VALUE'].replace(np.NaN, test_data_x['VALUE'].mean()).head(15)
# print(test_data_x['VALUE'])
print(test_data_x)
value['MORTDUE'] = pd.DataFrame(linreg.predict(test_data_x))

data.MORTDUE.fillna(value.MORTDUE,inplace=True)

print(data)

      BAD   LOAN     VALUE REASON  JOB   YOJ  DEROG  DELINQ       CLAGE  NINQ  \
0       1   1100   39025.0      1    0  10.5    0.0     0.0   94.366667   1.0
1       1   1300   68400.0      1    0   7.0    0.0     2.0  121.833333   0.0
2       1   1500   16700.0      1    0   4.0    0.0     0.0  149.466667   1.0
3       1   1500       NaN    NaN  NaN   NaN    NaN     NaN         NaN   NaN
4       0   1700  112000.0      1    2   3.0    0.0     0.0   93.333333   0.0
5       1   1700   40320.0      1    0   9.0    0.0     0.0  101.466002   1.0
6       1   1800   57037.0      1    0   5.0    3.0     2.0   77.100000   1.0
7       1   1800   43034.0      1    0  11.0    0.0     0.0   88.766030   0.0
8       1   2000   46740.0      1    0   3.0    0.0     2.0  216.933333   1.0
9       1   2000   62250.0      1    4  16.0    0.0     0.0  115.800000   0.0
10      1   2000       NaN    NaN  NaN  18.0    NaN     NaN         NaN   NaN
11      1   2000   29800.0      1    2  11.0    0.0     1.0  122.533333   1.0
12      1   2000   55000.0      1    0   3.0    0.0     0.0   86.066667   2.0
13      0   2000   87400.0    NaN    1   2.5    0.0     0.0  147.133333   0.0
14      1   2100   83850.0      1    0   8.0    0.0     1.0  123.000000   0.0
15      1   2200   34687.0      1    0   NaN    0.0     1.0  300.866667   0.0
16      1   2200  102600.0      1    1   7.0    2.0     6.0  122.900000   1.0
17      1   2200       NaN    NaN  NaN  19.0    NaN     NaN         NaN   NaN
18      1   2300   40150.0      1    0   4.5    0.0     0.0   54.600000   1.0
19      0   2300  120953.0      1    2   2.0    0.0     0.0   90.992533   0.0
20      1   2300   46200.0      1    0   3.0    0.0     1.0  122.266667   1.0
21      1   2400   73395.0      1    3   5.0    1.0     0.0         NaN   1.0
22      1   2400   40800.0      1    1  12.0    0.0     0.0   67.200000   2.0
23      1   2400       NaN      1    1  22.0    NaN     2.0  121.733333   0.0
24      1   2400   17180.0      1    0   NaN    0.0     0.0   14.566667   3.0
25      1   2400   47471.0      1    1  12.0    0.0     0.0   70.491080   1.0
26      0   2400  117195.0      1    2   4.0    0.0     0.0   93.811775   0.0
27      1   2500   20200.0      1  NaN  18.0    0.0     0.0  136.066667   1.0
28      1   2500   36350.0      1    0  10.0    1.0     2.0  276.966667   0.0
29      0   2500   44516.0      1    5   NaN    0.0     0.0  208.000000   0.0
...   ...    ...       ...    ...  ...   ...    ...     ...         ...   ...
5930    1  72300   85000.0      0    0   1.0    0.0     0.0  117.166667   9.0
5931    1  75400   89609.0      0    0   1.0    0.0     0.0  115.763534   9.0
5932    1  76500   90000.0      0    0  12.0    0.0     0.0  134.900000   0.0
5933    1  77200  215000.0      1    5   8.0    1.0     2.0   71.533132   3.0
5934    1  77400  224630.0      1    5   9.0    0.0     2.0   73.469630   3.0
5935    0  78400  102910.0      1  NaN  27.0    0.0     1.0  138.000000   0.0
5936    0  78700  102997.0      1  NaN  25.0    0.0     0.0  146.632842   0.0
5937    0  79100  103807.0      1  NaN  25.0    0.0     1.0  142.193458   0.0
5938    0  79200  103143.0      1  NaN  26.0    0.0     1.0  139.938999   0.0
5939    0  79200  110114.0      1  NaN  28.0    0.0     1.0  144.616126   0.0
5940    0  79900  109675.0      1  NaN  27.0    0.0     1.0  132.766724   0.0
5941    0  80300  109127.0      1  NaN  27.0    0.0     1.0  142.174300   0.0
5942    0  80600  109370.0      1  NaN  28.0    0.0     0.0  137.439991   0.0
5943    0  81200  108355.0      1  NaN  28.0    0.0     0.0  139.136329   0.0
5944    0  81400  108280.0      1  NaN  25.0    0.0     0.0  148.114994   0.0
5945    0  81400  111304.0      1  NaN  26.0    0.0     0.0  146.322783   0.0
5946    0  82200  111287.0      1  NaN  26.0    0.0     0.0  142.119979   0.0
5947    0  82200  110481.0      1  NaN  26.0    0.0     1.0  127.767588   0.0
5948    0  86000   85000.0      0    0  15.0    0.0     0.0  210.966667   0.0
5949    0  87000   89764.0      0    0  14.0    0.0     0.0  209.043117   0.0
5950    0  87500   86794.0      0    0  15.0    0.0     0.0  223.881040   0.0
5951    0  88300   94838.0      0    0  16.0    0.0     0.0  193.702051   0.0
5952    0  88500   94687.0      0    0  16.0    0.0     0.0  214.426206   0.0
5953    0  88800   94058.0      0    0  16.0    0.0     0.0  218.304978   0.0
5954    0  88900   93371.0      0    0  15.0    0.0     1.0  205.650159   0.0
5955    0  88900   90185.0      0    0  16.0    0.0     0.0  221.808718   0.0
5956    0  89000   92937.0      0    0  16.0    0.0     0.0  208.692070   0.0
5957    0  89200   92924.0      0    0  15.0    0.0     0.0  212.279697   0.0
5958    0  89800   91861.0      0    0  14.0    0.0     0.0  213.892709   0.0
5959    0  89900   88934.0      0    0  15.0    0.0     0.0  219.601002   0.0

      CLNO    DEBTINC
0      9.0        NaN
1     14.0        NaN
2     10.0        NaN
3      NaN        NaN
4     14.0        NaN
5      8.0  37.113614
6     17.0        NaN
7      8.0  36.884894
8     12.0        NaN
9     13.0        NaN
10     NaN        NaN
11     9.0        NaN
12    25.0        NaN
13    24.0        NaN
14    16.0        NaN
15     8.0        NaN
16    22.0        NaN
17     NaN   3.711312
18    16.0        NaN
19    13.0  31.588503
20    14.0        NaN
21     0.0        NaN
22    22.0        NaN
23    10.0        NaN
24     4.0        NaN
25    21.0  38.263601
26    13.0  29.681827
27    19.0        NaN
28     9.0        NaN
29    12.0        NaN
...    ...        ...
5930  23.0        NaN
5931  23.0  41.105569
5932  26.0        NaN
5933  14.0        NaN
5934  13.0  40.929793
5935  14.0        NaN
5936  13.0  34.300202
5937  13.0  31.469937
5938  14.0  31.333685
5939  13.0  32.366512
5940  13.0  31.642335
5941  13.0  33.468763
5942  14.0  34.202005
5943  14.0  34.042153
5944  14.0  34.285741
5945  14.0  32.131373
5946  14.0  31.743472
5947  14.0  30.942695
5948  16.0        NaN
5949  16.0  36.088037
5950  16.0  36.753653
5951  15.0  36.262691
5952  16.0  34.751158
5953  15.0  34.242465
5954  15.0  34.818262
5955  16.0  36.112347
5956  15.0  35.859971
5957  15.0  35.556590
5958  16.0  34.340882
5959  16.0  34.571519

[5960 rows x 12 columns]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [54]:
data.loc[data['REASON'] == 'HomeImp', 'REASON'] = 1
data.loc[data['REASON'] == 'DebtCon', 'REASON'] = 0

In [139]:
data = pd.read_csv("hmeq.csv")
# print(data['DEBTINC'])
print(data['DEBTINC'].mean())
final = data['DEBTINC'].replace(np.NaN, data['DEBTINC'].mean())
data['DEBTINC'] = final
data
# print(data)

33.77991534872112

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,33.779915
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,33.779915
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,33.779915
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.779915
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,33.779915
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614
6,1,1800,48649.0,57037.0,HomeImp,Other,5.0,3.0,2.0,77.100000,1.0,17.0,33.779915
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894
8,1,2000,32700.0,46740.0,HomeImp,Other,3.0,0.0,2.0,216.933333,1.0,12.0,33.779915
9,1,2000,NaN,62250.0,HomeImp,Sales,16.0,0.0,0.0,115.800000,0.0,13.0,33.779915
10,1,2000,22608.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,33.779915
11,1,2000,20627.0,29800.0,HomeImp,Office,11.0,0.0,1.0,122.533333,1.0,9.0,33.779915
12,1,2000,45000.0,55000.0,HomeImp,Other,3.0,0.0,0.0,86.066667,2.0,25.0,33.779915
13,0,2000,64536.0,87400.0,NaN,Mgr,2.5,0.0,0.0,147.133333,0.0,24.0,33.779915
14,1,2100,71000.0,83850.0,HomeImp,Other,8.0,0.0,1.0,123.000000,0.0,16.0,33.779915
15,1,2200,24280.0,34687.0,HomeImp,Other,NaN,0.0,1.0,300.866667,0.0,8.0,33.779915
16,1,2200,90957.0,102600.0,HomeImp,Mgr,7.0,2.0,6.0,122.900000,1.0,22.0,33.779915
17,1,2200,23030.0,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,3.711312
18,1,2300,28192.0,40150.0,HomeImp,Other,4.5,0.0,0.0,54.600000,1.0,16.0,33.779915
19,0,2300,102370.0,120953.0,HomeImp,Office,2.0,0.0,0.0,90.992533,0.0,13.0,31.588503
20,1,2300,37626.0,46200.0,HomeImp,Other,3.0,0.0,1.0,122.266667,1.0,14.0,33.779915
21,1,2400,50000.0,73395.0,HomeImp,ProfExe,5.0,1.0,0.0,NaN,1.0,0.0,33.779915
22,1,2400,28000.0,40800.0,HomeImp,Mgr,12.0,0.0,0.0,67.200000,2.0,22.0,33.779915
23,1,2400,18000.0,NaN,HomeImp,Mgr,22.0,NaN,2.0,121.733333,0.0,10.0,33.779915
24,1,2400,NaN,17180.0,HomeImp,Other,NaN,0.0,0.0,14.566667,3.0,4.0,33.779915
25,1,2400,34863.0,47471.0,HomeImp,Mgr,12.0,0.0,0.0,70.491080,1.0,21.0,38.263601
26,0,2400,98449.0,117195.0,HomeImp,Office,4.0,0.0,0.0,93.811775,0.0,13.0,29.681827
27,1,2500,15000.0,20200.0,HomeImp,NaN,18.0,0.0,0.0,136.066667,1.0,19.0,33.779915
28,1,2500,25116.0,36350.0,HomeImp,Other,10.0,1.0,2.0,276.966667,0.0,9.0,33.779915
29,0,2500,7229.0,44516.0,HomeImp,Self,NaN,0.0,0.0,208.000000,0.0,12.0,33.779915
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,1,72300,NaN,85000.0,DebtCon,Other,1.0,0.0,0.0,117.166667,9.0,23.0,33.779915
5931,1,75400,NaN,89609.0,DebtCon,Other,1.0,0.0,0.0,115.763534,9.0,23.0,41.105569
5932,1,76500,38206.0,90000.0,DebtCon,Other,12.0,0.0,0.0,134.900000,0.0,26.0,33.779915
5933,1,77200,83962.0,215000.0,HomeImp,Self,8.0,1.0,2.0,71.533132,3.0,14.0,33.779915
5934,1,77400,87651.0,224630.0,HomeImp,Self,9.0,0.0,2.0,73.469630,3.0,13.0,40.929793
5935,0,78400,13900.0,102910.0,HomeImp,NaN,27.0,0.0,1.0,138.000000,0.0,14.0,33.779915
5936,0,78700,22762.0,102997.0,HomeImp,NaN,25.0,0.0,0.0,146.632842,0.0,13.0,34.300202
5937,0,79100,23553.0,103807.0,HomeImp,NaN,25.0,0.0,1.0,142.193458,0.0,13.0,31.469937
5938,0,79200,21694.0,103143.0,HomeImp,NaN,26.0,0.0,1.0,139.938999,0.0,14.0,31.333685
5939,0,79200,22940.0,110114.0,HomeImp,NaN,28.0,0.0,1.0,144.616126,0.0,13.0,32.366512
5940,0,79900,18363.0,109675.0,HomeImp,NaN,27.0,0.0,1.0,132.766724,0.0,13.0,31.642335
5941,0,80300,20370.0,109127.0,HomeImp,NaN,27.0,0.0,1.0,142.174300,0.0,13.0,33.468763
5942,0,80600,16337.0,109370.0,HomeImp,NaN,28.0,0.0,0.0,137.439991,0.0,14.0,34.202005
5943,0,81200,18834.0,108355.0,HomeImp,NaN,28.0,0.0,0.0,139.136329,0.0,14.0,34.042153
5944,0,81400,22344.0,108280.0,HomeImp,NaN,25.0,0.0,0.0,148.114994,0.0,14.0,34.285741
5945,0,81400,21041.0,111304.0,HomeImp,NaN,26.0,0.0,0.0,146.322783,0.0,14.0,32.131373
5946,0,82200,16097.0,111287.0,HomeImp,NaN,26.0,0.0,0.0,142.119979,0.0,14.0,31.743472
5947,0,82200,23197.0,110481.0,HomeImp,NaN,26.0,0.0,1.0,127.767588,0.0,14.0,30.942695
5948,0,86000,47355.0,85000.0,DebtCon,Other,15.0,0.0,0.0,210.966667,0.0,16.0,33.779915
5949,0,87000,48980.0,89764.0,DebtCon,Other,14.0,0.0,0.0,209.043117,0.0,16.0,36.088037
5950,0,87500,55938.0,86794.0,DebtCon,Other,15.0,0.0,0.0,223.881040,0.0,16.0,36.753653
5951,0,88300,54004.0,94838.0,DebtCon,Other,16.0,0.0,0.0,193.702051,0.0,15.0,36.262691
5952,0,88500,50240.0,94687.0,DebtCon,Other,16.0,0.0,0.0,214.426206,0.0,16.0,34.751158
5953,0,88800,53307.0,94058.0,DebtCon,Other,16.0,0.0,0.0,218.304978,0.0,15.0,34.242465
5954,0,88900,48919.0,93371.0,DebtCon,Other,15.0,0.0,1.0,205.650159,0.0,15.0,34.818262
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519

In [127]:
final = data['VALUE'].replace(np.NaN, data['VALUE'].mean())
# data.loc[data['VALUE'] == np.float(np.NaN), 'VALUE'] = data['VALUE'].mean()
data['VALUE'] = final

In [76]:
type(data['VALUE'][3])

numpy.float64

In [78]:
data['VALUE'][3]

nan

In [140]:
data['full_count'] = data.apply(lambda x: x.count(), axis=1)
data

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC,full_count
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,33.779915,13
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,33.779915,13
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,33.779915,13
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.779915,3
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,33.779915,13
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614,13
6,1,1800,48649.0,57037.0,HomeImp,Other,5.0,3.0,2.0,77.100000,1.0,17.0,33.779915,13
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894,13
8,1,2000,32700.0,46740.0,HomeImp,Other,3.0,0.0,2.0,216.933333,1.0,12.0,33.779915,13
9,1,2000,NaN,62250.0,HomeImp,Sales,16.0,0.0,0.0,115.800000,0.0,13.0,33.779915,12
10,1,2000,22608.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,33.779915,5
11,1,2000,20627.0,29800.0,HomeImp,Office,11.0,0.0,1.0,122.533333,1.0,9.0,33.779915,13
12,1,2000,45000.0,55000.0,HomeImp,Other,3.0,0.0,0.0,86.066667,2.0,25.0,33.779915,13
13,0,2000,64536.0,87400.0,NaN,Mgr,2.5,0.0,0.0,147.133333,0.0,24.0,33.779915,12
14,1,2100,71000.0,83850.0,HomeImp,Other,8.0,0.0,1.0,123.000000,0.0,16.0,33.779915,13
15,1,2200,24280.0,34687.0,HomeImp,Other,NaN,0.0,1.0,300.866667,0.0,8.0,33.779915,12
16,1,2200,90957.0,102600.0,HomeImp,Mgr,7.0,2.0,6.0,122.900000,1.0,22.0,33.779915,13
17,1,2200,23030.0,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,3.711312,5
18,1,2300,28192.0,40150.0,HomeImp,Other,4.5,0.0,0.0,54.600000,1.0,16.0,33.779915,13
19,0,2300,102370.0,120953.0,HomeImp,Office,2.0,0.0,0.0,90.992533,0.0,13.0,31.588503,13
20,1,2300,37626.0,46200.0,HomeImp,Other,3.0,0.0,1.0,122.266667,1.0,14.0,33.779915,13
21,1,2400,50000.0,73395.0,HomeImp,ProfExe,5.0,1.0,0.0,NaN,1.0,0.0,33.779915,12
22,1,2400,28000.0,40800.0,HomeImp,Mgr,12.0,0.0,0.0,67.200000,2.0,22.0,33.779915,13
23,1,2400,18000.0,NaN,HomeImp,Mgr,22.0,NaN,2.0,121.733333,0.0,10.0,33.779915,11
24,1,2400,NaN,17180.0,HomeImp,Other,NaN,0.0,0.0,14.566667,3.0,4.0,33.779915,11
25,1,2400,34863.0,47471.0,HomeImp,Mgr,12.0,0.0,0.0,70.491080,1.0,21.0,38.263601,13
26,0,2400,98449.0,117195.0,HomeImp,Office,4.0,0.0,0.0,93.811775,0.0,13.0,29.681827,13
27,1,2500,15000.0,20200.0,HomeImp,NaN,18.0,0.0,0.0,136.066667,1.0,19.0,33.779915,12
28,1,2500,25116.0,36350.0,HomeImp,Other,10.0,1.0,2.0,276.966667,0.0,9.0,33.779915,13
29,0,2500,7229.0,44516.0,HomeImp,Self,NaN,0.0,0.0,208.000000,0.0,12.0,33.779915,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,1,72300,NaN,85000.0,DebtCon,Other,1.0,0.0,0.0,117.166667,9.0,23.0,33.779915,12
5931,1,75400,NaN,89609.0,DebtCon,Other,1.0,0.0,0.0,115.763534,9.0,23.0,41.105569,12
5932,1,76500,38206.0,90000.0,DebtCon,Other,12.0,0.0,0.0,134.900000,0.0,26.0,33.779915,13
5933,1,77200,83962.0,215000.0,HomeImp,Self,8.0,1.0,2.0,71.533132,3.0,14.0,33.779915,13
5934,1,77400,87651.0,224630.0,HomeImp,Self,9.0,0.0,2.0,73.469630,3.0,13.0,40.929793,13
5935,0,78400,13900.0,102910.0,HomeImp,NaN,27.0,0.0,1.0,138.000000,0.0,14.0,33.779915,12
5936,0,78700,22762.0,102997.0,HomeImp,NaN,25.0,0.0,0.0,146.632842,0.0,13.0,34.300202,12
5937,0,79100,23553.0,103807.0,HomeImp,NaN,25.0,0.0,1.0,142.193458,0.0,13.0,31.469937,12
5938,0,79200,21694.0,103143.0,HomeImp,NaN,26.0,0.0,1.0,139.938999,0.0,14.0,31.333685,12
5939,0,79200,22940.0,110114.0,HomeImp,NaN,28.0,0.0,1.0,144.616126,0.0,13.0,32.366512,12
5940,0,79900,18363.0,109675.0,HomeImp,NaN,27.0,0.0,1.0,132.766724,0.0,13.0,31.642335,12
5941,0,80300,20370.0,109127.0,HomeImp,NaN,27.0,0.0,1.0,142.174300,0.0,13.0,33.468763,12
5942,0,80600,16337.0,109370.0,HomeImp,NaN,28.0,0.0,0.0,137.439991,0.0,14.0,34.202005,12
5943,0,81200,18834.0,108355.0,HomeImp,NaN,28.0,0.0,0.0,139.136329,0.0,14.0,34.042153,12
5944,0,81400,22344.0,108280.0,HomeImp,NaN,25.0,0.0,0.0,148.114994,0.0,14.0,34.285741,12
5945,0,81400,21041.0,111304.0,HomeImp,NaN,26.0,0.0,0.0,146.322783,0.0,14.0,32.131373,12
5946,0,82200,16097.0,111287.0,HomeImp,NaN,26.0,0.0,0.0,142.119979,0.0,14.0,31.743472,12
5947,0,82200,23197.0,110481.0,HomeImp,NaN,26.0,0.0,1.0,127.767588,0.0,14.0,30.942695,12
5948,0,86000,47355.0,85000.0,DebtCon,Other,15.0,0.0,0.0,210.966667,0.0,16.0,33.779915,13
5949,0,87000,48980.0,89764.0,DebtCon,Other,14.0,0.0,0.0,209.043117,0.0,16.0,36.088037,13
5950,0,87500,55938.0,86794.0,DebtCon,Other,15.0,0.0,0.0,223.881040,0.0,16.0,36.753653,13
5951,0,88300,54004.0,94838.0,DebtCon,Other,16.0,0.0,0.0,193.702051,0.0,15.0,36.262691,13
5952,0,88500,50240.0,94687.0,DebtCon,Other,16.0,0.0,0.0,214.426206,0.0,16.0,34.751158,13
5953,0,88800,53307.0,94058.0,DebtCon,Other,16.0,0.0,0.0,218.304978,0.0,15.0,34.242465,13
5954,0,88900,48919.0,93371.0,DebtCon,Other,15.0,0.0,1.0,205.650159,0.0,15.0,34.818262,13
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347,13
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971,13
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590,13
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882,13
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519,13

In [141]:
d = data[data.full_count > 9]

In [144]:
len(d)

5643

In [143]:
len(data)

5960

In [147]:
d.isnull().sum()

BAD             0
LOAN            0
MORTDUE       353
VALUE          89
REASON        143
JOB           134
YOJ           330
DEROG         428
DELINQ        277
CLAGE          73
NINQ          209
CLNO            0
DEBTINC         0
full_count      0
dtype: int64

In [180]:
print(np.sqrt(np.var(data['CLAGE'])))

85.80250030145908

In [185]:
data['CLAGE'].mode()

0    102.500000
1    206.966667
dtype: float64

In [153]:
# print(d['REASON'])
d.loc[data['REASON'] == 'HomeImp', 'REASON'] = 1
d.loc[data['REASON'] == 'DebtCon', 'REASON'] = 0
print(d['REASON'])

0         1
1         1
2         1
4         1
5         1
6         1
7         1
8         1
9         1
11        1
12        1
13      NaN
14        1
15        1
16        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
30        1
31        1
32        1
       ...
5930      0
5931      0
5932      0
5933      1
5934      1
5935      1
5936      1
5937      1
5938      1
5939      1
5940      1
5941      1
5942      1
5943      1
5944      1
5945      1
5946      1
5947      1
5948      0
5949      0
5950      0
5951      0
5952      0
5953      0
5954      0
5955      0
5956      0
5957      0
5958      0
5959      0
Name: REASON, Length: 5643, dtype: object

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [154]:
# import numpy as np
print((np.var(d['REASON'])))

0.21264565289256196

In [148]:
np.var(d['NINQ'])
# d

2.9928049160610226

In [123]:
final = d['DEBTINC'].replace(np.NaN, d['DEBTINC'].mean())
# data.loc[data['VALUE'] == np.float(np.NaN), 'VALUE'] = data['VALUE'].mean()
# d['DEBTINC'] = final
# len(final)
len(d['DEBTINC'])

5621

In [150]:
data['DEROG']

0       0.0
1       0.0
2       0.0
3       NaN
4       0.0
5       0.0
6       3.0
7       0.0
8       0.0
9       0.0
10      NaN
11      0.0
12      0.0
13      0.0
14      0.0
15      0.0
16      2.0
17      NaN
18      0.0
19      0.0
20      0.0
21      1.0
22      0.0
23      NaN
24      0.0
25      0.0
26      0.0
27      0.0
28      1.0
29      0.0
       ...
5930    0.0
5931    0.0
5932    0.0
5933    1.0
5934    0.0
5935    0.0
5936    0.0
5937    0.0
5938    0.0
5939    0.0
5940    0.0
5941    0.0
5942    0.0
5943    0.0
5944    0.0
5945    0.0
5946    0.0
5947    0.0
5948    0.0
5949    0.0
5950    0.0
5951    0.0
5952    0.0
5953    0.0
5954    0.0
5955    0.0
5956    0.0
5957    0.0
5958    0.0
5959    0.0
Name: DEROG, Length: 5960, dtype: float64

In [157]:
import scipy.stats as stats

table = data.groupby(level="MORTDUE").sum().values
print(table)

ValueError: level name MORTDUE is not the name of the index

In [170]:
from sklearn.preprocessing import Imputer
imp_1 = Imputer(missing_values='NaN',strategy='median',axis=0)
# imp_2 = Imputer(missing_values='NaN',strategy='median',axis=0)

imp_1.fit(d['VALUE'].values.reshape(-1,1))
d['VALUE'] = imp_1.transform(d['VALUE'].values.reshape(-1,1))

C:\Users\Pratyush\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [179]:
d['NINQ']

0       1.0
1       0.0
2       1.0
4       0.0
5       1.0
6       1.0
7       0.0
8       1.0
9       0.0
11      1.0
12      2.0
13      0.0
14      0.0
15      0.0
16      1.0
18      1.0
19      0.0
20      1.0
21      1.0
22      2.0
23      0.0
24      3.0
25      1.0
26      0.0
27      1.0
28      0.0
29      0.0
30      0.0
31      3.0
32      2.0
       ...
5930    9.0
5931    9.0
5932    0.0
5933    3.0
5934    3.0
5935    0.0
5936    0.0
5937    0.0
5938    0.0
5939    0.0
5940    0.0
5941    0.0
5942    0.0
5943    0.0
5944    0.0
5945    0.0
5946    0.0
5947    0.0
5948    0.0
5949    0.0
5950    0.0
5951    0.0
5952    0.0
5953    0.0
5954    0.0
5955    0.0
5956    0.0
5957    0.0
5958    0.0
5959    0.0
Name: NINQ, Length: 5643, dtype: float64

In [172]:
d.isnull().sum()

BAD             0
LOAN            0
MORTDUE         0
VALUE           0
REASON        143
JOB           134
YOJ           330
DEROG         428
DELINQ        277
CLAGE          73
NINQ          209
CLNO            0
DEBTINC         0
full_count      0
dtype: int64

In [165]:
print(np.sqrt((np.var(d['MORTDUE']))))

43418.557264862044

In [162]:
print(d['MORTDUE'].median())

64978.0

In [171]:
np.var(np.sqrt(d['VALUE']))

6252.875806134325

In [168]:
d['VALUE']

0        39025.0
1        68400.0
2        16700.0
4       112000.0
5        40320.0
6        57037.0
7        43034.0
8        46740.0
9        62250.0
11       29800.0
12       55000.0
13       87400.0
14       83850.0
15       34687.0
16      102600.0
18       40150.0
19      120953.0
20       46200.0
21       73395.0
22       40800.0
23           NaN
24       17180.0
25       47471.0
26      117195.0
27       20200.0
28       36350.0
29       44516.0
30       78600.0
31       63100.0
32       60850.0
          ...
5930     85000.0
5931     89609.0
5932     90000.0
5933    215000.0
5934    224630.0
5935    102910.0
5936    102997.0
5937    103807.0
5938    103143.0
5939    110114.0
5940    109675.0
5941    109127.0
5942    109370.0
5943    108355.0
5944    108280.0
5945    111304.0
5946    111287.0
5947    110481.0
5948     85000.0
5949     89764.0
5950     86794.0
5951     94838.0
5952     94687.0
5953     94058.0
5954     93371.0
5955     90185.0
5956     92937.0
5957     92924.0
5958     91861.0
5959     88934.0
Name: VALUE, Length: 5643, dtype: float64

In [188]:
d['DEBTINC'].max()

203.31214869

In [189]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5643 entries, 0 to 5959
Data columns (total 14 columns):
BAD           5643 non-null int64
LOAN          5643 non-null int64
MORTDUE       5643 non-null float64
VALUE         5643 non-null float64
REASON        5500 non-null object
JOB           5509 non-null object
YOJ           5313 non-null float64
DEROG         5215 non-null float64
DELINQ        5366 non-null float64
CLAGE         5570 non-null float64
NINQ          5434 non-null float64
CLNO          5643 non-null float64
DEBTINC       5643 non-null float64
full_count    5643 non-null int64
dtypes: float64(9), int64(3), object(2)
memory usage: 661.3+ KB

In [190]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5960 entries, 0 to 5959
Data columns (total 14 columns):
BAD           5960 non-null int64
LOAN          5960 non-null int64
MORTDUE       5442 non-null float64
VALUE         5848 non-null float64
REASON        5708 non-null object
JOB           5681 non-null object
YOJ           5445 non-null float64
DEROG         5252 non-null float64
DELINQ        5380 non-null float64
CLAGE         5652 non-null float64
NINQ          5450 non-null float64
CLNO          5738 non-null float64
DEBTINC       5960 non-null float64
full_count    5960 non-null int64
dtypes: float64(9), int64(3), object(2)
memory usage: 652.0+ KB

In [191]:
data = pd.read_csv("hmeq.csv")

In [192]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5960 entries, 0 to 5959
Data columns (total 13 columns):
BAD        5960 non-null int64
LOAN       5960 non-null int64
MORTDUE    5442 non-null float64
VALUE      5848 non-null float64
REASON     5708 non-null object
JOB        5681 non-null object
YOJ        5445 non-null float64
DEROG      5252 non-null float64
DELINQ     5380 non-null float64
CLAGE      5652 non-null float64
NINQ       5450 non-null float64
CLNO       5738 non-null float64
DEBTINC    4693 non-null float64
dtypes: float64(9), int64(2), object(2)
memory usage: 605.4+ KB

In [193]:
data['BAD'].value_counts()

0    4771
1    1189
Name: BAD, dtype: int64

In [210]:
import pandas as pd
import numpy as np
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string

max_bin = 20
force_bin = 3

def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X":X, "Y":Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    
    r = 0
    
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X":notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d3 = d1.groupby('Bucket', as_index=True)
            print(d3)
            r, p = stats.spearmanr(d2.mean().X, d2.mean(Y))
        except Exception as e:
            n = n - 1
    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)

    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)

    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    print(d3)
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [220]:
final_iv, IV = data_vars(data,data.BAD)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A850268358>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025EE48>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A8502680F0>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025E710>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A84E0357F0>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025E048>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A8502680F0>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025EBA8>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A84E0357F0>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025E860>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A8502680F0>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025EEF0>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025E4A8>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025ECC0>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A84E0357F0>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025EEB8>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025E4A8>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025E940>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025E278>
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001A85025EEF0>

KeyboardInterrupt:

In [195]:
x = data.dtypes.index

In [196]:
x

Index(['BAD', 'LOAN', 'MORTDUE', 'VALUE', 'REASON', 'JOB', 'YOJ', 'DEROG',
       'DELINQ', 'CLAGE', 'NINQ', 'CLNO', 'DEBTINC'],
      dtype='object')

In [198]:
for i in x:
    print(data[i])

0       1
1       1
2       1
3       1
4       0
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      0
14      1
15      1
16      1
17      1
18      1
19      0
20      1
21      1
22      1
23      1
24      1
25      1
26      0
27      1
28      1
29      0
       ..
5930    1
5931    1
5932    1
5933    1
5934    1
5935    0
5936    0
5937    0
5938    0
5939    0
5940    0
5941    0
5942    0
5943    0
5944    0
5945    0
5946    0
5947    0
5948    0
5949    0
5950    0
5951    0
5952    0
5953    0
5954    0
5955    0
5956    0
5957    0
5958    0
5959    0
Name: BAD, Length: 5960, dtype: int64
0        1100
1        1300
2        1500
3        1500
4        1700
5        1700
6        1800
7        1800
8        2000
9        2000
10       2000
11       2000
12       2000
13       2000
14       2100
15       2200
16       2200
17       2200
18       2300
19       2300
20       2300
21       2400
22       2400
23       2400
24       2400
25       2400
26       2400
27       2500
28       2500
29       2500
        ...
5930    72300
5931    75400
5932    76500
5933    77200
5934    77400
5935    78400
5936    78700
5937    79100
5938    79200
5939    79200
5940    79900
5941    80300
5942    80600
5943    81200
5944    81400
5945    81400
5946    82200
5947    82200
5948    86000
5949    87000
5950    87500
5951    88300
5952    88500
5953    88800
5954    88900
5955    88900
5956    89000
5957    89200
5958    89800
5959    89900
Name: LOAN, Length: 5960, dtype: int64
0        25860.0
1        70053.0
2        13500.0
3            NaN
4        97800.0
5        30548.0
6        48649.0
7        28502.0
8        32700.0
9            NaN
10       22608.0
11       20627.0
12       45000.0
13       64536.0
14       71000.0
15       24280.0
16       90957.0
17       23030.0
18       28192.0
19      102370.0
20       37626.0
21       50000.0
22       28000.0
23       18000.0
24           NaN
25       34863.0
26       98449.0
27       15000.0
28       25116.0
29        7229.0
          ...
5930         NaN
5931         NaN
5932     38206.0
5933     83962.0
5934     87651.0
5935     13900.0
5936     22762.0
5937     23553.0
5938     21694.0
5939     22940.0
5940     18363.0
5941     20370.0
5942     16337.0
5943     18834.0
5944     22344.0
5945     21041.0
5946     16097.0
5947     23197.0
5948     47355.0
5949     48980.0
5950     55938.0
5951     54004.0
5952     50240.0
5953     53307.0
5954     48919.0
5955     57264.0
5956     54576.0
5957     54045.0
5958     50370.0
5959     48811.0
Name: MORTDUE, Length: 5960, dtype: float64
0        39025.0
1        68400.0
2        16700.0
3            NaN
4       112000.0
5        40320.0
6        57037.0
7        43034.0
8        46740.0
9        62250.0
10           NaN
11       29800.0
12       55000.0
13       87400.0
14       83850.0
15       34687.0
16      102600.0
17           NaN
18       40150.0
19      120953.0
20       46200.0
21       73395.0
22       40800.0
23           NaN
24       17180.0
25       47471.0
26      117195.0
27       20200.0
28       36350.0
29       44516.0
          ...
5930     85000.0
5931     89609.0
5932     90000.0
5933    215000.0
5934    224630.0
5935    102910.0
5936    102997.0
5937    103807.0
5938    103143.0
5939    110114.0
5940    109675.0
5941    109127.0
5942    109370.0
5943    108355.0
5944    108280.0
5945    111304.0
5946    111287.0
5947    110481.0
5948     85000.0
5949     89764.0
5950     86794.0
5951     94838.0
5952     94687.0
5953     94058.0
5954     93371.0
5955     90185.0
5956     92937.0
5957     92924.0
5958     91861.0
5959     88934.0
Name: VALUE, Length: 5960, dtype: float64
0       HomeImp
1       HomeImp
2       HomeImp
3           NaN
4       HomeImp
5       HomeImp
6       HomeImp
7       HomeImp
8       HomeImp
9       HomeImp
10          NaN
11      HomeImp
12      HomeImp
13          NaN
14      HomeImp
15      HomeImp
16      HomeImp
17          NaN
18      HomeImp
19      HomeImp
20      HomeImp
21      HomeImp
22      HomeImp
23      HomeImp
24      HomeImp
25      HomeImp
26      HomeImp
27      HomeImp
28      HomeImp
29      HomeImp
         ...
5930    DebtCon
5931    DebtCon
5932    DebtCon
5933    HomeImp
5934    HomeImp
5935    HomeImp
5936    HomeImp
5937    HomeImp
5938    HomeImp
5939    HomeImp
5940    HomeImp
5941    HomeImp
5942    HomeImp
5943    HomeImp
5944    HomeImp
5945    HomeImp
5946    HomeImp
5947    HomeImp
5948    DebtCon
5949    DebtCon
5950    DebtCon
5951    DebtCon
5952    DebtCon
5953    DebtCon
5954    DebtCon
5955    DebtCon
5956    DebtCon
5957    DebtCon
5958    DebtCon
5959    DebtCon
Name: REASON, Length: 5960, dtype: object
0         Other
1         Other
2         Other
3           NaN
4        Office
5         Other
6         Other
7         Other
8         Other
9         Sales
10          NaN
11       Office
12        Other
13          Mgr
14        Other
15        Other
16          Mgr
17          NaN
18        Other
19       Office
20        Other
21      ProfExe
22          Mgr
23          Mgr
24        Other
25          Mgr
26       Office
27          NaN
28        Other
29         Self
         ...
5930      Other
5931      Other
5932      Other
5933       Self
5934       Self
5935        NaN
5936        NaN
5937        NaN
5938        NaN
5939        NaN
5940        NaN
5941        NaN
5942        NaN
5943        NaN
5944        NaN
5945        NaN
5946        NaN
5947        NaN
5948      Other
5949      Other
5950      Other
5951      Other
5952      Other
5953      Other
5954      Other
5955      Other
5956      Other
5957      Other
5958      Other
5959      Other
Name: JOB, Length: 5960, dtype: object
0       10.5
1        7.0
2        4.0
3        NaN
4        3.0
5        9.0
6        5.0
7       11.0
8        3.0
9       16.0
10      18.0
11      11.0
12       3.0
13       2.5
14       8.0
15       NaN
16       7.0
17      19.0
18       4.5
19       2.0
20       3.0
21       5.0
22      12.0
23      22.0
24       NaN
25      12.0
26       4.0
27      18.0
28      10.0
29       NaN
        ...
5930     1.0
5931     1.0
5932    12.0
5933     8.0
5934     9.0
5935    27.0
5936    25.0
5937    25.0
5938    26.0
5939    28.0
5940    27.0
5941    27.0
5942    28.0
5943    28.0
5944    25.0
5945    26.0
5946    26.0
5947    26.0
5948    15.0
5949    14.0
5950    15.0
5951    16.0
5952    16.0
5953    16.0
5954    15.0
5955    16.0
5956    16.0
5957    15.0
5958    14.0
5959    15.0
Name: YOJ, Length: 5960, dtype: float64
0       0.0
1       0.0
2       0.0
3       NaN
4       0.0
5       0.0
6       3.0
7       0.0
8       0.0
9       0.0
10      NaN
11      0.0
12      0.0
13      0.0
14      0.0
15      0.0
16      2.0
17      NaN
18      0.0
19      0.0
20      0.0
21      1.0
22      0.0
23      NaN
24      0.0
25      0.0
26      0.0
27      0.0
28      1.0
29      0.0
       ...
5930    0.0
5931    0.0
5932    0.0
5933    1.0
5934    0.0
5935    0.0
5936    0.0
5937    0.0
5938    0.0
5939    0.0
5940    0.0
5941    0.0
5942    0.0
5943    0.0
5944    0.0
5945    0.0
5946    0.0
5947    0.0
5948    0.0
5949    0.0
5950    0.0
5951    0.0
5952    0.0
5953    0.0
5954    0.0
5955    0.0
5956    0.0
5957    0.0
5958    0.0
5959    0.0
Name: DEROG, Length: 5960, dtype: float64
0       0.0
1       2.0
2       0.0
3       NaN
4       0.0
5       0.0
6       2.0
7       0.0
8       2.0
9       0.0
10      NaN
11      1.0
12      0.0
13      0.0
14      1.0
15      1.0
16      6.0
17      NaN
18      0.0
19      0.0
20      1.0
21      0.0
22      0.0
23      2.0
24      0.0
25      0.0
26      0.0
27      0.0
28      2.0
29      0.0
       ...
5930    0.0
5931    0.0
5932    0.0
5933    2.0
5934    2.0
5935    1.0
5936    0.0
5937    1.0
5938    1.0
5939    1.0
5940    1.0
5941    1.0
5942    0.0
5943    0.0
5944    0.0
5945    0.0
5946    0.0
5947    1.0
5948    0.0
5949    0.0
5950    0.0
5951    0.0
5952    0.0
5953    0.0
5954    1.0
5955    0.0
5956    0.0
5957    0.0
5958    0.0
5959    0.0
Name: DELINQ, Length: 5960, dtype: float64
0        94.366667
1       121.833333
2       149.466667
3              NaN
4        93.333333
5       101.466002
6        77.100000
7        88.766030
8       216.933333
9       115.800000
10             NaN
11      122.533333
12       86.066667
13      147.133333
14      123.000000
15      300.866667
16      122.900000
17             NaN
18       54.600000
19       90.992533
20      122.266667
21             NaN
22       67.200000
23      121.733333
24       14.566667
25       70.491080
26       93.811775
27      136.066667
28      276.966667
29      208.000000
           ...
5930    117.166667
5931    115.763534
5932    134.900000
5933     71.533132
5934     73.469630
5935    138.000000
5936    146.632842
5937    142.193458
5938    139.938999
5939    144.616126
5940    132.766724
5941    142.174300
5942    137.439991
5943    139.136329
5944    148.114994
5945    146.322783
5946    142.119979
5947    127.767588
5948    210.966667
5949    209.043117
5950    223.881040
5951    193.702051
5952    214.426206
5953    218.304978
5954    205.650159
5955    221.808718
5956    208.692070
5957    212.279697
5958    213.892709
5959    219.601002
Name: CLAGE, Length: 5960, dtype: float64
0       1.0
1       0.0
2       1.0
3       NaN
4       0.0
5       1.0
6       1.0
7       0.0
8       1.0
9       0.0
10      NaN
11      1.0
12      2.0
13      0.0
14      0.0
15      0.0
16      1.0
17      NaN
18      1.0
19      0.0
20      1.0
21      1.0
22      2.0
23      0.0
24      3.0
25      1.0
26      0.0
27      1.0
28      0.0
29      0.0
       ...
5930    9.0
5931    9.0
5932    0.0
5933    3.0
5934    3.0
5935    0.0
5936    0.0
5937    0.0
5938    0.0
5939    0.0
5940    0.0
5941    0.0
5942    0.0
5943    0.0
5944    0.0
5945    0.0
5946    0.0
5947    0.0
5948    0.0
5949    0.0
5950    0.0
5951    0.0
5952    0.0
5953    0.0
5954    0.0
5955    0.0
5956    0.0
5957    0.0
5958    0.0
5959    0.0
Name: NINQ, Length: 5960, dtype: float64
0        9.0
1       14.0
2       10.0
3        NaN
4       14.0
5        8.0
6       17.0
7        8.0
8       12.0
9       13.0
10       NaN
11       9.0
12      25.0
13      24.0
14      16.0
15       8.0
16      22.0
17       NaN
18      16.0
19      13.0
20      14.0
21       0.0
22      22.0
23      10.0
24       4.0
25      21.0
26      13.0
27      19.0
28       9.0
29      12.0
        ...
5930    23.0
5931    23.0
5932    26.0
5933    14.0
5934    13.0
5935    14.0
5936    13.0
5937    13.0
5938    14.0
5939    13.0
5940    13.0
5941    13.0
5942    14.0
5943    14.0
5944    14.0
5945    14.0
5946    14.0
5947    14.0
5948    16.0
5949    16.0
5950    16.0
5951    15.0
5952    16.0
5953    15.0
5954    15.0
5955    16.0
5956    15.0
5957    15.0
5958    16.0
5959    16.0
Name: CLNO, Length: 5960, dtype: float64
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
5       37.113614
6             NaN
7       36.884894
8             NaN
9             NaN
10            NaN
11            NaN
12            NaN
13            NaN
14            NaN
15            NaN
16            NaN
17       3.711312
18            NaN
19      31.588503
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25      38.263601
26      29.681827
27            NaN
28            NaN
29            NaN
          ...
5930          NaN
5931    41.105569
5932          NaN
5933          NaN
5934    40.929793
5935          NaN
5936    34.300202
5937    31.469937
5938    31.333685
5939    32.366512
5940    31.642335
5941    33.468763
5942    34.202005
5943    34.042153
5944    34.285741
5945    32.131373
5946    31.743472
5947    30.942695
5948          NaN
5949    36.088037
5950    36.753653
5951    36.262691
5952    34.751158
5953    34.242465
5954    34.818262
5955    36.112347
5956    35.859971
5957    35.556590
5958    34.340882
5959    34.571519
Name: DEBTINC, Length: 5960, dtype: float64

In [209]:
data.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [219]:
data['DELINQ'].min()

0.0

In [ ]:
def binning(X, Y):
    minimum = X.min()
    maximum = X.max()
    size = 5
    d = pd.DataFrame({},index=[])
    d["COUNT"] =