In [75]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
start = 12
end = 13
# file = pd.read_csv("hmeq.csv")
X = file.values
imputer = Imputer(missing_values="NaN",strategy="mean",axis=0)
imputer = imputer.fit(X[:,start:end])
X[:,start:end] = imputer.transform(X[:,start:end])

In [ ]:
file = pd.read_csv("hmeq.csv")

In [15]:
X.shape

(5960, 13)

In [58]:
file["DEROG"].median()

0.0

In [43]:
file["MORTDUE"] = X[:,2]

In [44]:
file["VALUE"] = X[:,3]

In [47]:
file["YOJ"] = X[:,6]

In [76]:
file["DEBTINC"] = X[:,12]

In [81]:
file

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860,39025,HomeImp,Other,10.5,0,0,94.3667,1,9,33.7799
1,1,1300,70053,68400,HomeImp,Other,7,0,2,121.833,0,14,33.7799
2,1,1500,13500,16700,HomeImp,Other,4,0,0,149.467,1,10,33.7799
3,1,1500,73760.8,101776,NaN,NaN,8.92227,0,0,179.766,1,20,33.7799
4,0,1700,97800,112000,HomeImp,Office,3,0,0,93.3333,0,14,33.7799
5,1,1700,30548,40320,HomeImp,Other,9,0,0,101.466,1,8,37.1136
6,1,1800,48649,57037,HomeImp,Other,5,3,2,77.1,1,17,33.7799
7,1,1800,28502,43034,HomeImp,Other,11,0,0,88.766,0,8,36.8849
8,1,2000,32700,46740,HomeImp,Other,3,0,2,216.933,1,12,33.7799
9,1,2000,73760.8,62250,HomeImp,Sales,16,0,0,115.8,0,13,33.7799
10,1,2000,22608,101776,NaN,NaN,18,0,0,179.766,1,20,33.7799
11,1,2000,20627,29800,HomeImp,Office,11,0,1,122.533,1,9,33.7799
12,1,2000,45000,55000,HomeImp,Other,3,0,0,86.0667,2,25,33.7799
13,0,2000,64536,87400,NaN,Mgr,2.5,0,0,147.133,0,24,33.7799
14,1,2100,71000,83850,HomeImp,Other,8,0,1,123,0,16,33.7799
15,1,2200,24280,34687,HomeImp,Other,8.92227,0,1,300.867,0,8,33.7799
16,1,2200,90957,102600,HomeImp,Mgr,7,2,6,122.9,1,22,33.7799
17,1,2200,23030,101776,NaN,NaN,19,0,0,179.766,1,20,3.71131
18,1,2300,28192,40150,HomeImp,Other,4.5,0,0,54.6,1,16,33.7799
19,0,2300,102370,120953,HomeImp,Office,2,0,0,90.9925,0,13,31.5885
20,1,2300,37626,46200,HomeImp,Other,3,0,1,122.267,1,14,33.7799
21,1,2400,50000,73395,HomeImp,ProfExe,5,1,0,179.766,1,0,33.7799
22,1,2400,28000,40800,HomeImp,Mgr,12,0,0,67.2,2,22,33.7799
23,1,2400,18000,101776,HomeImp,Mgr,22,0,2,121.733,0,10,33.7799
24,1,2400,73760.8,17180,HomeImp,Other,8.92227,0,0,14.5667,3,4,33.7799
25,1,2400,34863,47471,HomeImp,Mgr,12,0,0,70.4911,1,21,38.2636
26,0,2400,98449,117195,HomeImp,Office,4,0,0,93.8118,0,13,29.6818
27,1,2500,15000,20200,HomeImp,NaN,18,0,0,136.067,1,19,33.7799
28,1,2500,25116,36350,HomeImp,Other,10,1,2,276.967,0,9,33.7799
29,0,2500,7229,44516,HomeImp,Self,8.92227,0,0,208,0,12,33.7799
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,1,72300,73760.8,85000,DebtCon,Other,1,0,0,117.167,9,23,33.7799
5931,1,75400,73760.8,89609,DebtCon,Other,1,0,0,115.764,9,23,41.1056
5932,1,76500,38206,90000,DebtCon,Other,12,0,0,134.9,0,26,33.7799
5933,1,77200,83962,215000,HomeImp,Self,8,1,2,71.5331,3,14,33.7799
5934,1,77400,87651,224630,HomeImp,Self,9,0,2,73.4696,3,13,40.9298
5935,0,78400,13900,102910,HomeImp,NaN,27,0,1,138,0,14,33.7799
5936,0,78700,22762,102997,HomeImp,NaN,25,0,0,146.633,0,13,34.3002
5937,0,79100,23553,103807,HomeImp,NaN,25,0,1,142.193,0,13,31.4699
5938,0,79200,21694,103143,HomeImp,NaN,26,0,1,139.939,0,14,31.3337
5939,0,79200,22940,110114,HomeImp,NaN,28,0,1,144.616,0,13,32.3665
5940,0,79900,18363,109675,HomeImp,NaN,27,0,1,132.767,0,13,31.6423
5941,0,80300,20370,109127,HomeImp,NaN,27,0,1,142.174,0,13,33.4688
5942,0,80600,16337,109370,HomeImp,NaN,28,0,0,137.44,0,14,34.202
5943,0,81200,18834,108355,HomeImp,NaN,28,0,0,139.136,0,14,34.0422
5944,0,81400,22344,108280,HomeImp,NaN,25,0,0,148.115,0,14,34.2857
5945,0,81400,21041,111304,HomeImp,NaN,26,0,0,146.323,0,14,32.1314
5946,0,82200,16097,111287,HomeImp,NaN,26,0,0,142.12,0,14,31.7435
5947,0,82200,23197,110481,HomeImp,NaN,26,0,1,127.768,0,14,30.9427
5948,0,86000,47355,85000,DebtCon,Other,15,0,0,210.967,0,16,33.7799
5949,0,87000,48980,89764,DebtCon,Other,14,0,0,209.043,0,16,36.088
5950,0,87500,55938,86794,DebtCon,Other,15,0,0,223.881,0,16,36.7537
5951,0,88300,54004,94838,DebtCon,Other,16,0,0,193.702,0,15,36.2627
5952,0,88500,50240,94687,DebtCon,Other,16,0,0,214.426,0,16,34.7512
5953,0,88800,53307,94058,DebtCon,Other,16,0,0,218.305,0,15,34.2425
5954,0,88900,48919,93371,DebtCon,Other,15,0,1,205.65,0,15,34.8183
5955,0,88900,57264,90185,DebtCon,Other,16,0,0,221.809,0,16,36.1123
5956,0,89000,54576,92937,DebtCon,Other,16,0,0,208.692,0,15,35.86
5957,0,89200,54045,92924,DebtCon,Other,15,0,0,212.28,0,15,35.5566
5958,0,89800,50370,91861,DebtCon,Other,14,0,0,213.893,0,16,34.3409
5959,0,89900,48811,88934,DebtCon,Other,15,0,0,219.601,0,16,34.5715

In [78]:
d = pd.read_csv("hmeq.csv")

In [79]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
start = 7
end = 8
# file = pd.read_csv("hmeq.csv")
X = d.values
imputer = Imputer(missing_values="NaN",strategy="median",axis=0)
imputer = imputer.fit(X[:,start:end])
X[:,start:end] = imputer.transform(X[:,start:end])

In [80]:
file["DEROG"] = X[:,7]

In [86]:
file

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860,39025,1,0,10.5,0,0,94.3667,1,9,33.7799
1,1,1300,70053,68400,1,0,7,0,2,121.833,0,14,33.7799
2,1,1500,13500,16700,1,0,4,0,0,149.467,1,10,33.7799
3,1,1500,73760.8,101776,NaN,NaN,8.92227,0,0,179.766,1,20,33.7799
4,0,1700,97800,112000,1,2,3,0,0,93.3333,0,14,33.7799
5,1,1700,30548,40320,1,0,9,0,0,101.466,1,8,37.1136
6,1,1800,48649,57037,1,0,5,3,2,77.1,1,17,33.7799
7,1,1800,28502,43034,1,0,11,0,0,88.766,0,8,36.8849
8,1,2000,32700,46740,1,0,3,0,2,216.933,1,12,33.7799
9,1,2000,73760.8,62250,1,4,16,0,0,115.8,0,13,33.7799
10,1,2000,22608,101776,NaN,NaN,18,0,0,179.766,1,20,33.7799
11,1,2000,20627,29800,1,2,11,0,1,122.533,1,9,33.7799
12,1,2000,45000,55000,1,0,3,0,0,86.0667,2,25,33.7799
13,0,2000,64536,87400,NaN,1,2.5,0,0,147.133,0,24,33.7799
14,1,2100,71000,83850,1,0,8,0,1,123,0,16,33.7799
15,1,2200,24280,34687,1,0,8.92227,0,1,300.867,0,8,33.7799
16,1,2200,90957,102600,1,1,7,2,6,122.9,1,22,33.7799
17,1,2200,23030,101776,NaN,NaN,19,0,0,179.766,1,20,3.71131
18,1,2300,28192,40150,1,0,4.5,0,0,54.6,1,16,33.7799
19,0,2300,102370,120953,1,2,2,0,0,90.9925,0,13,31.5885
20,1,2300,37626,46200,1,0,3,0,1,122.267,1,14,33.7799
21,1,2400,50000,73395,1,3,5,1,0,179.766,1,0,33.7799
22,1,2400,28000,40800,1,1,12,0,0,67.2,2,22,33.7799
23,1,2400,18000,101776,1,1,22,0,2,121.733,0,10,33.7799
24,1,2400,73760.8,17180,1,0,8.92227,0,0,14.5667,3,4,33.7799
25,1,2400,34863,47471,1,1,12,0,0,70.4911,1,21,38.2636
26,0,2400,98449,117195,1,2,4,0,0,93.8118,0,13,29.6818
27,1,2500,15000,20200,1,NaN,18,0,0,136.067,1,19,33.7799
28,1,2500,25116,36350,1,0,10,1,2,276.967,0,9,33.7799
29,0,2500,7229,44516,1,5,8.92227,0,0,208,0,12,33.7799
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,1,72300,73760.8,85000,0,0,1,0,0,117.167,9,23,33.7799
5931,1,75400,73760.8,89609,0,0,1,0,0,115.764,9,23,41.1056
5932,1,76500,38206,90000,0,0,12,0,0,134.9,0,26,33.7799
5933,1,77200,83962,215000,1,5,8,1,2,71.5331,3,14,33.7799
5934,1,77400,87651,224630,1,5,9,0,2,73.4696,3,13,40.9298
5935,0,78400,13900,102910,1,NaN,27,0,1,138,0,14,33.7799
5936,0,78700,22762,102997,1,NaN,25,0,0,146.633,0,13,34.3002
5937,0,79100,23553,103807,1,NaN,25,0,1,142.193,0,13,31.4699
5938,0,79200,21694,103143,1,NaN,26,0,1,139.939,0,14,31.3337
5939,0,79200,22940,110114,1,NaN,28,0,1,144.616,0,13,32.3665
5940,0,79900,18363,109675,1,NaN,27,0,1,132.767,0,13,31.6423
5941,0,80300,20370,109127,1,NaN,27,0,1,142.174,0,13,33.4688
5942,0,80600,16337,109370,1,NaN,28,0,0,137.44,0,14,34.202
5943,0,81200,18834,108355,1,NaN,28,0,0,139.136,0,14,34.0422
5944,0,81400,22344,108280,1,NaN,25,0,0,148.115,0,14,34.2857
5945,0,81400,21041,111304,1,NaN,26,0,0,146.323,0,14,32.1314
5946,0,82200,16097,111287,1,NaN,26,0,0,142.12,0,14,31.7435
5947,0,82200,23197,110481,1,NaN,26,0,1,127.768,0,14,30.9427
5948,0,86000,47355,85000,0,0,15,0,0,210.967,0,16,33.7799
5949,0,87000,48980,89764,0,0,14,0,0,209.043,0,16,36.088
5950,0,87500,55938,86794,0,0,15,0,0,223.881,0,16,36.7537
5951,0,88300,54004,94838,0,0,16,0,0,193.702,0,15,36.2627
5952,0,88500,50240,94687,0,0,16,0,0,214.426,0,16,34.7512
5953,0,88800,53307,94058,0,0,16,0,0,218.305,0,15,34.2425
5954,0,88900,48919,93371,0,0,15,0,1,205.65,0,15,34.8183
5955,0,88900,57264,90185,0,0,16,0,0,221.809,0,16,36.1123
5956,0,89000,54576,92937,0,0,16,0,0,208.692,0,15,35.86
5957,0,89200,54045,92924,0,0,15,0,0,212.28,0,15,35.5566
5958,0,89800,50370,91861,0,0,14,0,0,213.893,0,16,34.3409
5959,0,89900,48811,88934,0,0,15,0,0,219.601,0,16,34.5715

In [92]:
from sklearn.linear_model import LogisticRegression
linreg = LogisticRegression(multi_class='ovr')
file.loc[file['REASON'] == 'HomeImp', 'REASON'] = 1
file.loc[file['REASON'] == 'DebtCon', 'REASON'] = 0
file.loc[file['JOB'] == 'Other', 'JOB'] = 0
file.loc[file['JOB'] == 'Mgr', 'JOB'] = 1
file.loc[file['JOB'] == 'Office', 'JOB'] = 2
file.loc[file['JOB'] == 'ProfExe', 'JOB'] = 3
file.loc[file['JOB'] == 'Sales', 'JOB'] = 4
file.loc[file['JOB'] == 'Self', 'JOB'] = 5
file_without_null = file.dropna()

# print(data_without_null)

train_file_y = file_without_null.iloc[:,4]
train_file_part_1 = file_without_null.iloc[:,0:4]
train_file_part_2 = file_without_null.iloc[:,6:]
# train_data_part_2
train_file_x = train_file_part_1.join(train_file_part_2)
# train_data_x
# print(train_file_y)
linreg.fit(train_file_x,train_file_y)

test_file_part_1 = file.iloc[:,0:4]
test_file_part_2 = file.iloc[:,6:]
test_file_x = test_file_part_1.join(test_file_part_2)
# print(test_data_x['VALUE'].mean())
# test_file_x['JOB'].replace(np.NaN, test_file_x['VALUE'].mean()).head(15)
# print(test_data_x['VALUE'])
# print(test_file_x)
value['REASON'] = pd.DataFrame(linreg.predict(test_file_x))

file.REASON.fillna(value.REASON,inplace=True)

print(file)

ValueError: Unknown label type: 'unknown'